<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Awesome Blog</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />

    <link rel="stylesheet" href="styles/app.css">
    <!-- link rel="stylesheet" href="styles/blog.css">
    <link rel="stylesheet" href="styles/justified-nav.css" -->

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>

    <script src="app/app.module.js"></script>

    <script src="app/login/login.module.js"></script>
    <script src="app/login/login.config.js"></script>
    <script src="app/login/login.controller.js"></script>

    <script src="app/register/register.module.js"></script>
    <script src="app/register/register.config.js"></script>
    <script src="app/register/register.controller.js"></script>

    <script src="app/welcome/welcome.module.js"></script>
    <script src="app/welcome/welcome.config.js"></script>
    <script src="app/welcome/welcome.controller.js"></script>

    <script src="app/addPost/addPost.module.js"></script>
    <script src="app/addPost/addPost.config.js"></script>
    <script src="app/addPost/addPost.controller.js"></script>

    <script src="app/nav/nav.module.js"></script>
    <script src="app/nav/nav.controller.js"></script>

    <script src="app/firebase/firebase.module.js"></script>
    <script src="app/firebase/firebase.service.js"></script>

    <script src="app/auth/auth.module.js"></script>
    <script src="app/auth/auth.service.js"></script>
</head>
<body>
    <!-- div class="blog-masthead" ng-controller="NavController as vm">
        <div class="container" ng-if="vm.user">
            <nav class="blog-nav">
                <a class="blog-nav-item {{vm.currentState === 'welcome' && 'active'}}" href="#/welcome">Home</a>
                <a class="blog-nav-item {{vm.currentState === 'addPost' && 'active'}}" href="#/add-post">Add Post</a>
                <a class="blog-nav-item" ng-click="vm.logout();">Logout</a>
            </nav>
        </div>
    </div -->

    <div layout="column" class="main">
        <header>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <!-- md-button class="md-icon-button" aria-label="Settings">
                        <i class="material-icons md-24 md-light">menu</i>
                    </md-button -->
                    <h1>Awesome Blog</h1>
                    <span flex></span>
                    <md-menu md-position-mode="target-right target">
                        <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event);">
                            <i class="material-icons md-24 md-light">more_vert</i>
                        </md-button>
                        <md-menu-content class="more-menu-content">
                            <md-menu-item>
                                <md-button ng-click="vm.logout();">Logout</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>
        </header>
        <md-content flex>
            <ui-view></ui-view>
        </md-content>

        <footer class="blog-footer">
            <p>AngularJS &amp; Firebase Blog App</p>
            <md-button class="md-fab add-post-btn" aria-label="Add Post">
                <i class="material-icons md-36 md-light">add</i>
            </md-button>
        </footer>

    </div>

</body>
</html>
