<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Awesome Blog</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />

    <link rel="stylesheet" href="styles/app.css">

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
    </style>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>

    <script src="app/login/login.module.js"></script>
    <script src="app/login/login.config.js"></script>
    <script src="app/login/login.controller.js"></script>

    <script src="app/register/register.module.js"></script>
    <script src="app/register/register.config.js"></script>
    <script src="app/register/register.controller.js"></script>

    <script src="app/welcome/welcome.module.js"></script>
    <script src="app/welcome/welcome.config.js"></script>
    <script src="app/welcome/welcome.controller.js"></script>

    <script src="app/addPost/addPost.module.js"></script>
    <script src="app/addPost/addPost.controller.js"></script>

    <script src="app/nav/nav.module.js"></script>
    <script src="app/nav/nav.controller.js"></script>

    <script src="app/firebase/firebase.module.js"></script>
    <script src="app/firebase/firebase.service.js"></script>

    <script src="app/auth/auth.module.js"></script>
    <script src="app/auth/auth.service.js"></script>

    <script src="app/core/core.module.js"></script>
    <script src="app/core/core.constants.js"></script>
    <script src="app/core/core.run.js"></script>
    <script src="app/core/core.config.js"></script>

    <script src="app/app.module.js"></script>
</head>
<body>
    <div layout="column" class="main" ng-controller="NavController as vm" ng-cloak>
        <header>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h1>Awesome Blog</h1>
                    <span flex></span>
                    <md-menu ng-if="vm.user" md-position-mode="target-right target">
                        <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event);">
                            <i class="material-icons md-24 md-light">more_vert</i>
                        </md-button>
                        <md-menu-content class="more-menu-content">
                            <md-menu-item>
                                <md-button ng-click="vm.userInfo();">User info</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="vm.logout();">Logout</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>
        </header>
        <md-content flex>
            <ui-view></ui-view>
        </md-content>
        <footer class="blog-footer">
            <p>AngularJS &amp; Firebase Blog App</p>
        </footer>
    </div>
</body>
</html>
