<div class="container">
    <header class="container-header">Welcome <b>{{vm.username}}</b>!!</header>
    <!-- articles -->
    <md-card ng-repeat="article in vm.articles">
        <md-card-content class="article-wrapper">
            <h2 class="md-title article-title">{{article.title}}</h2>
            <p>{{article.post}}</p>
            <div class="md-actions" layout="row" layout-align="center center">
                <md-button ng-click="vm.postDialog($event, article.$id);" class="md-fab md-mini confirm-btn" aria-label="Edit Post">
                    <i class="material-icons md-18 md-light">mode_edit</i>
                </md-button>
                <md-button ng-click="vm.confirmDelete(article.$id, $event);" class="md-fab md-mini alert-btn" aria-label="Delete Post">
                    <i class="material-icons md-18 md-light">delete</i>
                </md-button>
            </div>
        </md-card-content>
    </md-card>
    <md-progress-circular ng-show="vm.loading" md-mode="indeterminate" class="md-accent"></md-progress-circular>
</div>
<md-button ng-show="!vm.loading" class="md-fab add-post-btn" aria-label="Add Post" ng-click="vm.postDialog($event);">
    <i class="material-icons md-36 md-light">add</i>
</md-button>
