/* material icons styles */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    /* Preferred icon size */
    font-size: 24px;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}
/* end material icons styles */


/* fix for autcomplete inputs in chrome */
input:-webkit-autofill {
    -webkit-text-fill-color: rgba(255, 255, 255, 0.87) !important;
    -webkit-box-shadow: 0 0 0px 1000px #303030 inset;
}


html,
body {
    color: rgba(255, 255, 255, 0.87);
    font-size: 14px;
    min-width: 320px;
}

md-content {
    background: #303030;
}

md-card {
    background: #424242;
    margin-bottom: 30px;
}

md-backdrop.md-opaque {
    background-color: rgba(254, 254, 254, 1);
}

md-progress-circular {
    margin: 50px auto 0;
}

.main {
    min-height: 100%;
}

/* container from bootstrap */
.container {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-dialog {
    padding: 0 10px;
}

md-toolbar md-icon.md-default-theme {
    color: white;
}

.more-menu-content {
    color: #ffffff;
}

.md-button.md-fab.add-post-btn,
.md-button.md-fab.add-post-btn:hover {
    bottom: 5px;
    position: fixed;
    right: 5px;
}

.md-title.article-title {
    margin-top: 0;
}

.article-wrapper .md-actions {
    margin-bottom: -41px;
}

.md-button.md-primary.md-raised,
.md-button.md-primary.md-raised:not([disabled]):hover {
    background: #673AB7;
}

.md-actions .md-button.md-fab.confirm-btn,
.md-actions .md-button.md-fab.confirm-btn:hover {
    background: #4CAF50;
}

.md-actions .md-button.md-fab.alert-btn,
.md-actions .md-button.md-fab.alert-btn:hover {
    background: #f44336;
}

.article-wrapper .md-actions .md-button:first-child {
    margin-right: 10px;
}

.container-header {
    border-bottom: 1px solid #ffffff;
    font-size: 20px;
    margin: 15px 0;
    padding-bottom: 8px;
}

.blog-footer {
    background-color: #212121;
    border-top: 1px solid #9e9e9e;
    color: #9e9e9e;
    font-size: 13px;
    padding: 16px 0;
    text-align: center;
}

.blog-footer p {
    line-height: 17px;
    margin: 0;
    padding: 0;
}

/* accept button */
md-dialog .md-actions .md-button,
.md-button.md-default-theme.md-primary:not([disabled]) {
    color: #81C784;
}

/* cancel button */
md-dialog .md-actions .md-button:first-child,
.md-button.md-default-theme.md-primary:not([disabled]):first-child {
    color: #e57373;
}

md-toast.md-default-theme,
md-toast {
    background: #000;
    color: rgb(255, 82, 82);
    text-shadow: 0px 0px 1px #424242;
}
