<div class="container">
    <header class="container-header">Login</header>
    <form ng-show="!vm.loading" name="vm.signinForm" role="form" ng-submit="vm.signinForm.$valid && vm.signIn();" novalidate>
        <md-input-container>
            <label>Email</label>
            <input type="email" name="email" ng-model="vm.user.email" required>
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input type="password" name="password" ng-model="vm.user.password" ng-minlength="3" required>
        </md-input-container>
        <div class="md-actions" layout="row" layout-align="start center">
            <md-button class="md-raised md-primary" ng-disabled="vm.signinForm.$invalid" type="submit" aria-label="Login">Sign In</md-button>
            <md-button ng-href="#/register">Sign Up</md-button>
        </div>
    </form>
    <md-progress-circular ng-show="vm.loading" md-mode="indeterminate" class="md-accent"></md-progress-circular>
</div>
